apiVersion: v2
# renovate: image=foxcpp/maddy
appVersion: 0.8.2
description: Maddy Mail Server
name: maddy
version: 4.2.0
kubeVersion: ">=1.32.0"
keywords:
  - maddy
  - mail
home: https://github.com/k8s-home-lab/helm-charts/tree/master/charts/stable/maddy
# Project has no icon yet
# icon: https://maddy.org/icon
sources:
  - https://github.com/foxcpp/maddy
maintainers:
  - name: k8s-home-lab
    email: admin@aste.tools
dependencies:
  - name: common
    repository: https://k8s-home-lab.github.io/helm-charts/
    version: 4.5.3
  - name: postgresql
    version: 0.16.0
    repository: oci://registry-1.docker.io/cloudpirates/
    condition: postgresql.enabled
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Upgrade common chart to 4.5.3
    - kind: changed
      description: Update minimum k8s version
    - kind: changed
      description: Fix home url
    - kind: changed
      description: Remove bitnami dependency
