apiVersion: v2
# renovate: image=ghcr.io/home-operations/home-assistant
appVersion: 2026.2.2
description: Home Assistant
name: home-assistant
version: 16.3.0
kubeVersion: ">=1.32.0"
keywords:
  - home-assistant
  - hass
  - homeassistant
home: https://github.com/k8s-home-lab/helm-charts/tree/master/charts/stable/home-assistant
icon: https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Home_Assistant_Logo.svg/519px-Home_Assistant_Logo.svg.png
sources:
  - https://github.com/home-assistant/home-assistant
  - https://github.com/home-operations/containers
maintainers:
  - name: k8s-home-lab
    email: admin@aste.tools
dependencies:
  - name: common
    repository: https://k8s-home-lab.github.io/helm-charts/
    version: 4.5.3
  - name: postgres
    version: 0.17.1
    repository: oci://ghcr.io/cloudpirates-io/helm-charts
    condition: postgresql.enabled
  - name: mariadb
    version: 0.14.3
    repository: oci://ghcr.io/cloudpirates-io/helm-charts
    condition: mariadb.enabled
  - name: influxdb2
    version: 2.1.2
    repository: https://helm.influxdata.com/
    condition: influxdb.enabled
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Applied minor update of image postgres to 0.17.1
    - kind: changed
      description: Applied minor update of image postgres to 0.17.1
    - kind: changed
      description: Applied minor update of image postgres to 0.17.1
    - kind: changed
      description: Applied minor update of image postgres to 0.17.1
