apiVersion: v2
# renovate: image=vaultwarden/server
appVersion: 1.35.3
description: Vaultwarden is a Bitwarden compatable server in Rust
name: vaultwarden
version: 6.2.0
kubeVersion: ">=1.32.0"
keywords:
  - Vaultwarden
  - bitwardenrs
home: "https://github.com/k8s-at-home/charts/tree/master/charts/stable/vaultwarden"
icon: "https://sesoodan.sirv.com/bitwarden_rs.png"
sources:
  - https://github.com/dani-garcia/vaultwarden
maintainers:
  - name: k8s-home-lab
    email: admin@aste.tools
dependencies:
  - name: common
    repository: https://k8s-home-lab.github.io/helm-charts/
    version: 4.5.3
  - name: mariadb
    version: 0.14.3
    repository: oci://registry-1.docker.io/cloudpirates/
    condition: mariadb.enabled
  - name: postgresql
    version: 0.16.0
    repository: oci://registry-1.docker.io/cloudpirates/
    condition: postgresql.enabled
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Upgrade common chart to 4.5.3
    - kind: changed
      description: Update minimum k8s version
    - kind: changed
      description: Fix home url
    - kind: changed
      description: Remove bitnami dependency
