apiVersion: v2
# renovate: image=vaultwarden/server
appVersion: 1.35.4
description: Vaultwarden is a Bitwarden compatable server in Rust
name: vaultwarden
version: 6.2.1
kubeVersion: ">=1.32.0"
keywords:
  - Vaultwarden
  - bitwardenrs
home: "https://github.com/k8s-at-home/charts/tree/master/charts/stable/vaultwarden"
icon: "https://sesoodan.sirv.com/bitwarden_rs.png"
sources:
  - https://github.com/dani-garcia/vaultwarden
maintainers:
  - name: k8s-home-lab
    email: admin@aste.tools
dependencies:
  - name: common
    repository: https://k8s-home-lab.github.io/helm-charts/
    version: 4.5.3
  - name: mariadb
    version: 0.14.3
    repository: oci://ghcr.io/cloudpirates-io/helm-charts
    condition: mariadb.enabled
  - name: postgres
    version: 0.16.0
    repository: oci://ghcr.io/cloudpirates-io/helm-charts
    condition: postgresql.enabled
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Applied patch update of image vaultwarden/server to 1.35.4
    - kind: changed
      description: Applied patch update of image vaultwarden/server to 1.35.4
    - kind: changed
      description: Applied patch update of image vaultwarden/server to 1.35.4
    - kind: changed
      description: Applied patch update of image vaultwarden/server to 1.35.4
