apiVersion: v2
# renovate: image=ghcr.io/k8s-home-lab/wireguard-pia
appVersion: v2.0.0
description: Fast, modern, secure VPN tunnel with PIA connect scripts
name: wireguard-pia
version: 1.6.0
kubeVersion: ">=1.32.0"
keywords:
  - vpn
  - privacy
  - security
  - wireguard
home: ttps://github.com/k8s-home-lab/helm-charts/tree/master/charts/stable/zurg
icon: https://avatars.githubusercontent.com/u/13991055?s=200&v=4
sources:
  - https://git.zx2c4.com/wireguard-tools
  - https://github.com/pia-foss/manual-connections
  - https://github.com/k8s-home-lab/container-images
maintainers:
  - name: k8s-home-lab
    email: admin@aste.tools
dependencies:
  - name: common
    version: 4.5.2
    repository: https://library-charts.k8s-at-home.com
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Upgrade common chart to 4.5.3
    - kind: changed
      description: Update minimum k8s version
    - kind: changed
      description: Fix home url
