apiVersion: v2
# renovate: image=gitea/gitea
appVersion: 1.25.4
description: Gitea self-hosted github-styled git repository manager
name: gitea
version: 2.4.0
kubeVersion: ">=1.32.0"
keywords:
  - gitea
home: https://github.com/k8s-home-lab/helm-charts/tree/master/charts/stable/gitea
icon: https://docs.gitea.io/images/gitea.png
sources:
  - https://github.com/go-gitea/gitea
  - https://github.com/k8s-home-lab/helm-charts/tree/master/charts/stable/gitea
maintainers:
  - name: k8s-home-lab
    email: admin@aste.tools
dependencies:
  - name: common
    repository: https://k8s-home-lab.github.io/helm-charts/
    version: 4.5.3
  - name: postgres
    version: 0.16.0
    repository: oci://ghcr.io/cloudpirates-io/helm-charts
    condition: postgresql.enabled
  - name: mariadb
    version: 0.14.3
    repository: oci://ghcr.io/cloudpirates-io/helm-charts
    condition: mariadb.enabled
  - name: redis
    version: 0.24.0
    repository: oci://ghcr.io/cloudpirates-io/helm-charts
    condition: redis.enabled
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Upgrade common chart to 4.5.3
    - kind: changed
      description: Update minimum k8s version
    - kind: changed
      description: Remove bitnami dependency
