name: "Run Renovate bot"

on:
  workflow_dispatch:
  schedule:
    - cron: '0/15 * * * *'

jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.generate-token.outputs.token }}
          fetch-depth: 0
          persist-credentials: false

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.0.0
        with:
          configurationFile: .github/renovate-config.js
          token: '${{ steps.generate-token.outputs.token }}'
